@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Comic Neue', Sans-serif;
}

body {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	background: #6A5ACD;	
}

div#container {
	max-width: 1000px;
	width: 100%;
	margin: 50px;
	height: 535px;
	background: #FFF;
	border-radius: 15px;
}

header {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

header h1 {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 28pt;
	letter-spacing: 2px;
}

header h5 {
	margin-bottom: 50px;
	font-size: 14pt;
	letter-spacing: 2px;
	color: #555;
}

div#main {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	width: 100%;
}

div#list {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	max-width: 450px;
	width: 100%;
	font-weight: 700;
}

div#list ul {
	line-height: 30px;
	padding-bottom: 60px;
	margin: auto;
	list-style: none;	
}

div#list ul li {
	font-size: 14pt;
	letter-spacing: 1px;
	line-height: 35px;
	color: #1C1C1C;
	transition: color 0.2s;
}

div#list ul li:hover {
	transition: color 0.4s;
	color: #483D8B;
	cursor: pointer;
}

div#panel{
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	max-width: 450px;
	width: 100%;
	font-weight: 350;
}

div#panel ul {
	border: 1px solid #000;	
	max-width: 450px;
	width: 90%;
	height: 280px;
	line-height: 45px;
	border-radius: 8px;
}

div#panel p#warning {
	font-size: 14pt;
	letter-spacing: 1px;
	font-weight: 400;
}

div#panel ul li:first-child{
	margin-top: 25px;
}

div#panel ul li {
	margin-left: 15px;
	list-style: none;
	font-size: 15pt;
	letter-spacing: 1px;
}

footer {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	margin-top: -85px;
}